body {
	width: 100%;
	height: 100%;
	font-family: 'inter tight', Arial, Helvetica, sans-serif;
	font-weight: 200;
	font-style: normal;
	font-size: var(--font-size-small);
}

h2 {
	font-size: var(--font-size-medium);
	font-weight: 200;
	text-align: center;
}

h3 {
	font-size: var(--font-size-base);
	font-weight: 200;
}

.display-none {
	display: none;
}

.display-center {
	width: 100vw;
	display: flex;
	justify-content: center;
}

.header-section {
	opacity: 1;
	transition: 150ms ease-in;
}

.header-container {
	position: relative;
	top: 0;
	z-index: 2;
	background-color: white;
	border-bottom: 1px solid black;
	width: 100vw;
	height: 50px;
	display: grid;
	grid-template-columns: repeat(12, 1fr);
}

.header-container-button img {
	display: flex;
	align-self: center;
	justify-content: center;
	height: 25px;
	opacity: 60%;
}

.header-container-button img:hover {
	opacity: 100%;
}

.button-logo {
	grid-column: 1 / span 3;
}

.button-logo img {
	height: 40px;
	opacity: 100%;
}

.button-search {
	grid-column-start: 9;
	grid-column-end: 10;
}

.header-search-input {
	display: none;
	width: 120px;
	border: 1px solid black;
	border-radius: 2px;
	padding: 0.2rem;
	font: inherit;
	font-weight: inherit;
	font-size: var(--font-size-xsmall);
	animation: transform 600ms ease;
}

@keyframes transform {
	0% {
		width: 0;
	}
	100% {
		width: 120px;
	}
}

.button-cart {
	grid-column-start: 10;
	grid-column-end: 11;
}

.cart-add-count {
	z-index: 12;
	color: var(--color-accent-1);
	font-size: 12px;
	font-weight: 400;
}

.cart-animation {
	animation: scaleup 400ms ease-in-out;
}

@keyframes scaleup {
	0% {
		transform: scale(1);
		opacity: 0;
	}
	100% {
		transform: scale(3);
		opacity: 1;
	}
}

.button-hamburger {
	grid-column-start: 11;
	grid-column-end: 12;
}

.button-hamburger img {
	height: 20px;
}

.active-menu {
    transition: transform 350ms ease-out;
    transform: translateY(-100%);
}

.active-menu-show {
    transform: translateY(0);
}

.active-menu-hide {
    transform: translateY(-150%);
}

.active-menu-container {
	z-index: 0;
	position: relative;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	width: 100vw;
	height: 50px;
	background-color: var(--color-accent-1);
	box-shadow: 2px 5px 5px 1px rgba(146, 146, 146, 0.42);
	transform: translateX(0);
}

.active-menu-button {
	font-size: var(--font-size-base);
	opacity: 60%;
}

.active-menu-button:hover {
	opacity: 100%;
}

.cart-container {
	z-index: 1;
	position: absolute;
	display: flex;
	flex-direction: column;
	align-items: center;
	top: 50px;
	right: 0px;
	padding: var(--spacing-small);
	background: var(--color-accent-4);
	box-shadow: 2px 5px 15px 1px rgba(146, 146, 146, 0.42);
	min-width: 500px;
	transition: transform 400ms ease-out;
    transform: translateY(-100%);
}

.cart-row {
	display: flex;
	flex-wrap: nowrap;
	align-items: row;
	border-bottom: 1px solid black;
	padding: var(--spacing-small);
}

.cart-item-img {
	width: 100px;
	margin-right: var(--spacing-small);
}

.cart-quantity {
	display: flex;
	justify-content: flex-end;
}

.cart-quantity-input {
	width: 50px;
	padding: 0.3rem;
	margin-right: var(--spacing-medium);
	font-size: var(--font-size-xsmall);
	font-family: inherit;
	font-weight: 300;
}

input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button {
	opacity: 1;
}

.cart-column {
	width: 200px;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	font-size: var(--font-size-xsmall);
	font-weight: 300;
}

.cart-price {
	width: 50px;
	display: flex;
	align-items: center;
	margin-right: var(--spacing-medium);
	font-size: var(--font-size-xsmall);
	font-weight: 300;
}

.remove-button {
	padding: 0.3rem;
	font-size: var(--font-size-xsmall);
	font-weight: 300;
	background-color: var(--color-accent-3);
}

.cart-total {
	width: 100%;
	margin: var(--spacing-medium);
	display: flex;
	justify-content: center;
	align-items: center;
	justify-content: space-evenly;
}

.purchase-button {
	width: min-content;
	padding: var(--spacing-small);
	background-color: var(--color-accent-1);
	border: 1px solid black;
}

.active-cart-show {
    transform: translateY(0);
}

.active-cart-hide {
    transform: translateY(-120%);
}

.up-grid {
	width: 100vw;
	display: grid;
	grid-template-columns: repeat(12, 1fr);
}

.up-container {
	grid-column: 11 / 12;
	display: flex;
	justify-content: center;
}

.up-button {
	z-index: 60;
	position: fixed;
	bottom: 40px;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 40px;
	height: 40px;
	background-color: var(--color-accent-4);
	border: 1px solid black;
}

.up-img {
	width: 20px;
	transform: rotate(180deg);
}

.form-section {
	z-index: 10;
	position: absolute;
	width: 100vw;
	height: 100vh;
	opacity: 0;
    transition: opacity 100ms ease-in-out;
	display: none;
}

.form-container {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
	width: 500px;
	height: 600px;
	background-color: white;
	border: 1px solid black;
}

.form-close-icon {
	position: absolute;
	top: 20px;
	right: 20px;
	width: 1rem;
}

.form-title {
	padding: var(--spacing-medium);
}

.center-line {
	display: flex;
	justify-content: center;
}

.form-line-small {
	width: 30%;
	border-bottom: 1px solid black;
}

.form-line-large {
	width: 60%;
	border-bottom: 1px solid black;
}

.signup-form-content {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	align-items: center;
}

.input-container {
	margin-top: var(--spacing-medium);
	padding: var(--spacing-small);
	width: 60%;
	display: flex;
	flex-direction: column;
	text-align: left;
}

.singup-input {
	padding: var(--spacing-small);
	font-family: inherit;
	font-weight: inherit;
	border: 1px solid black;
}

.checkbox-label {
	font-size: var(--font-size-xsmall);
}

.signup-button-container {
	margin-top: var(--spacing-medium);
}

.signup-button {
	background-color: var(--color-accent-1);
	margin-top: var(--spacing-medium);
	padding: var(--spacing-small);
	border: 1px solid black;
}

.signup-toast {
	z-index: 20;
	position: absolute;
	width: 100vw;
	height: 100vh;
	display: none;
}

.signup-toast-container {
	position: fixed;
	top: 30%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
	width: 500px;
	height: 300px;
	background-color: white;
	border: 2px solid black;
	display: flex;
	align-items: center;
}

.signup-toast-text {
	padding: var(--spacing-medium-large);
}

.signup-toast-animation {
	animation: toastIt 3500ms cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}

@keyframes toastIt {
	0%,
	100% {
		transform: translateY(-150%);
		opacity: 0;
	}
	20%,
	80% {
		transform: translateY(0);
		opacity: 1;
	}
}

.photo-collection {
	display: flex;
	justify-content: center;
	width: 100vw;
	margin-top: var(--spacing-medium);
	opacity: 1;
	transition: 150ms ease-in;
}

.photo-collection-container {
	width: 80%;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: repeat(2, 1fr);
	grid-gap: 20px;
}

.photo-collection-image {
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.photo-collection-image img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.big-photo {
	grid-column: 2 / 3;
	grid-row: 1 / 3;
}
.medium-photo {
	grid-column: 1 / 2;
	grid-row: 1 / 2;
	max-height: 450px;
}
.small-photo {
	grid-column: 1 / 2;
	grid-row: 2 / 3;
	max-height: 450px;
}

.frontpage-title-container {
	display: flex;
	justify-content: center;
	flex-direction: column;
	text-align: center;
	gap: var(--spacing-small);
	width: 100vw;
	margin-top: var(--font-size-large);
	font-size: var(--font-size-xlarge);
	opacity: 1;
	transition: 150ms ease-in;
}

.frontpage-text-medium {
	font-size: var(--font-size-base);
}

.frontpage-text-large {
	color: var(--color-accent-1);
	font-size: var(--font-size-large);
}

.title-line-container {
	display: flex;
	justify-content: center;
}

.title-line {
	margin: var(--spacing-large);
	width: 60%;
	border-bottom: 2px solid black;
}

.slideshow {
	position: relative;
	margin-top: var(--font-size-xlarge);
	margin-bottom: var(--font-size-xlarge);
	width: 100vw;
	opacity: 1;
	transition: 150ms ease-in;
}

.slideshow-container {
	z-index: 3;
	height: 300px;
	/* background-color: var(--color-accent-1); */
	display: flex;
	justify-content: center;
}

.slideshow-images-container {
	z-index: 5;
	width: 80%;
	height: 100%;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	background-color: var(--color-accent-1);
	border: 1px solid black;
	overflow-x: scroll;
	overflow: hidden;
}

.slideshow-container::-webkit-scrollbar {
	display: none;
}

.slideshow-img-container img {
	width: 300px;
	height: 100%;
	transition: transform 0.5s;
	overflow: hidden;
}

.slideshow-img-container img:hover {
	transform: scale(1.5);
	cursor: pointer;
}

.slideshow-controls {
	z-index: 4;
	position: absolute;
	top: 50%;
	left: 0;
	width: 100%;
	transform: translateY(-50%);
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	padding: var(--spacing-medium-large);
}

.slideshow-previous-button img {
	width: 70px;
	transform: rotate(90deg);
}

.slideshow-next-button img {
	width: 70px;
	transform: rotate(270deg);
}

.display-none-scroll {
	display: none;
}

.go-to-yarn {
	margin-bottom: var(--spacing-xlarge);
}

@media (max-width: 1020px) {
	.slideshow-images-container {
		width: 70%;
	}
}
	
@media (max-width: 700px) {
	.slideshow-container {
		height: 200px;
	}
	.slideshow-images-container {
		width: 60%;
		height: 100%;
	}
	.slideshow-img-container img {
		width: 200px;
	}
	.slideshow-previous-button img {
		width: 50px;
		transform: rotate(90deg);
	}
	.slideshow-next-button img {
		width: 50px;
		transform: rotate(270deg);
	}	
}

@media (max-width: 500px) {
	.form-container {
		width: 400px;
	}
	.active-menu-container {
		position: sticky;
		justify-content: center;
		flex-direction: column;
		height: min-content;
		padding: var(--spacing-small);
	}
	.slideshow-container {
		height: 200px;
	}
	.slideshow-images-container {
		width: 60%;
	}
	.slideshow-img-container img {
		width: 200px;
	}
	.slideshow-previous-button img {
		width: 40px;
	}
	.slideshow-next-button img {
		width: 40px;
	}
	.cart-container {
		width: 300px;
		max-width: 300px;
		min-width: 400px;
		justify-content: flex-end;
	}
	.cart-column {
		width: 120px;
	}
	.cart-item-img {
		display: none;
	}
}